.purple{
    background-color: rgb(122, 31, 207);
}
.blue{
    background-color: rgb(66, 106, 216);
}
.red{
    background-color: rgb(250, 41, 41);
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.green{
    background-color: rgb(16, 186, 16);
}