<main class="container mw-100">
    <nav class="d-flex flex-row justify-content-between p-3">
        <button class="btn btn-outline-secondary border-2 fw-bold w-25" type="button" (click)="isExpanded = !isExpanded" aria-expanded="false" aria-controls="filters">
            Filters
        </button>
        
        <button class="btn btn-outline-secondary border-2 fw-bold w-25" (click)="navigateHome()">
            Home
        </button>
    </nav>
    <div *ngIf="isExpanded" class="overlay" (click)="onOverlayClick()"></div>
    <div class="bg-info w-75" [ngClass]="{'collapsed': !isExpanded, 'expanded': isExpanded}" id="filters">
        <app-card-search-filters (cardsFetched)="onCardsFetched($event)"></app-card-search-filters>
    </div>
    <div *ngIf="cards; else noCards" class="d-flex flex-row flex-wrap pt-1"  >
        <div *ngFor="let card of cards" class="w-50 border-primary">
            <img class="w-100 rounded" src="cards/{{card.id}}.png" (click)="openModal(card)" (error)="onImageError($event, card.id)"/>
        </div>
    </div>
    <ng-template #noCards>
        <div class="d-flex flex-column align-content-center flex-wrap text-light pt-5">
            <p>
                Open filters to start searching!
            </p>
        </div>
    </ng-template>

    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content bg-info">
            <div class="modal-header border-primary d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>            </div>
            <div class="modal-body">
                <app-card-info [card]="selectedCard"></app-card-info>
            </div>
        </div>
      </div>
    </div>
</main>
